@import "@styles/variables";

.InnerLayoutWrapper{
    padding: 25px 15px;
    height: 100%;

    .InnerLayoutInner{
        width: 100%;
        background-color: $white;
        border-radius: 3px;
        border-top: 3px solid #d2d6de;
        box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
        height: 100%;
    }
}
