@import "@styles/variables";

.UsersInnerBody{
    height: 100%;
    padding: 10px;

    .FormInputs{
        display: flex;
        gap: 20px;
    }

    .FormPermissions{
        display: flex;
        flex-wrap: wrap;

        .CheckboxItem{
            font-size: 25px;
        }
    }
}

.UsersInnerSave{
    background-color: $white;
    margin-bottom: 10px;
}
