@import "@styles/variables";
@import "@styles/mixins";

.Button {
    width: var(--btn-size);
    cursor: pointer;
    transition: 300ms;
    padding: 8px 12px;
    @include font-style(14px,400,#1976d2);
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    
    &_common {
      &:hover {
        background-color: rgba(25, 118, 210, 0.04);
      }
  
      &:focus {
        outline: 0;
        background-color: rgba(25, 118, 210, 0.04);
      }
    }

    

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &_primary {
      background: $primary;
      opacity: 0.8;
      color: $white;

      * {
        fill: $white;
      }
      
      &:hover {
        opacity: 1;
      }
    }

    &_secondary {
      background-color: $secondary;
      border-color: $secondary;

      * {
        fill:#fff;
      }
      
      &:hover {
        opacity: 0.8;
      }
    }
    
    &_warning {
      background: $warn;
      color: $white;
      opacity: 0.8;

      * {
        fill: $white;
      }
      
      &:hover {
        opacity: 1;
      }
    }
    
    &_submit {
      background: $submit;
      color: $white;
      opacity: 0.8;

      * {
        fill: $white;
      }
      
      &:hover {
        opacity: 1;
      }
    }
  }
