@import "@styles/variables";
@import "@styles/mixins";

.Button {
    width: var(--btn-size);
    cursor: pointer;
    transition: 300ms;
    padding: 8px 12px;
    @include font-style(14px,400,#1976d2);
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    


    &_primary {
      background: $primary;
      opacity: 0.8;
      color: $white;

      * {
        fill: $white;
      }
    }

    &_secondary {
      background-color: $secondary;
      border-color: $secondary;

      * {
        fill:#fff;
      }
    }
    
    &_warning {
      background: $warn;
      color: $white;
      opacity: 0.8;

      * {
        fill: $white;
      }
    }
    
    &_submit {
      background: $submit;
      color: $white;
      opacity: 0.8;

      * {
        fill: $white;
      }
    }
  
    &_danger {
      background: $danger;
      color: $white;
      opacity: 0.8;

      * {
        fill: $white;
      }
    }
  }


.loading {
  cursor: progress;
  opacity: 0.4;

  &_common {
    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: 0;
      opacity: 1;
    }
  }
}