@import "@styles/variables";

.MainWrapper{
    padding: 18px;

    h1{
        font-size: 24px;
        font-weight: 500;
        font-family: 'Source Sans Pro',sans-serif;
    }

    p{
        color: $text;
        margin-top: 15px;
        font-size: 14px;
    }
}