@import "@styles/variables";
@import "@styles/mixins";

.BoxWrapper{
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 100vh;
    background-color: $background;
    align-items: center;
    justify-content: center;

    .BoxWrapperLogo {
        .BoxWrapperLogoLink{
            text-decoration: none;
            @include font-style(35px,300,#444);
        }
    }

    .BoxWrapperBlock{
        background-color: $white;
        padding: 20px;
        width: 360px;
    }
}
