@import "@styles/mixins";

.HeaderWrapper{
    padding: 10px 10px 20px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f4f4f4;

    h3{
        @include font-style(18px,'',#444);
        font-family: 'Source Sans Pro',sans-serif;
    }
    
    .ButtonContainer{
        display: flex;
        flex-direction: row;
    
        button {
            @include font-style(14px,400,'');
            display: flex;
            flex-direction: row;
            align-items: center;
            
            .ButtonSpan {
                margin-left: 5px;
            }
        }
    }
}
