@import "@styles/mixins";

.CheckBoxWrapper{
    padding: 3px 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    
    .CheckboxLabel{
        @include font-style(14px,700,#333);
        user-select: none;
    }
}

