@import '@styles/variables';
@import '@styles/mixins';

.RegisterWrapper {
    display: flex;
    flex-direction: column;

    .Heading {
        text-align: center;
        margin-bottom: 20px;
        @include font-style(14px,400,$text-heading);
    }

    .FormWrapper{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .ButtonCheckbox{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        gap: 60px;
        margin-top: 10px;

        .SubmitButton{
            flex: 1;
        }
    }

    .BottomLinks{
        display: flex;
        flex-direction: column;
        margin-top: 15px;

        a{
            text-decoration: none;
            margin-bottom: 10px;
            @include font-style(14px,400,$mid-blue2);
        }
    }
}
